a.nav-link {
    color: rgb(105, 6, 84);
    font-size: 16px;
    font-weight:bolder;
}
a.navbar-brand{
    color: rgb(113, 26, 94);
    font-size: 35px;
    font-weight:bolder;
}
.fa-user-circle, .fa-question-circle{
    padding-left: 5px;
    color: rgb(105, 6, 84);
}
.form-inline{
    text-align: right;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    font-weight: bold;
    background-color: rgb(105, 6, 84) !important;
}