
<div class="index">
    <div class="container content">
        <div class="row">
            <div class="col">
                <h1>
                    <p>Transfer Money</p>
                    <p>with Skrill</p>
                </h1>
                <p>There are zero fees when you transfer money to a bank account abroad.</p>
        
                <div class="rating">
                    <span class="fa fa-star checked"></span>&nbsp;
                    <span class="fa fa-star checked"></span>&nbsp;
                    <span class="fa fa-star checked"></span>&nbsp;
                    <span class="fa fa-star checked"></span>&nbsp;
                    <span class="fa fa-star check"></span>&nbsp;
                    <span class="fa fa-star fill-star"></span>&nbsp;Trustpilot
                </div>
            </div>
        
            <div class="col ex-card">
                <div class="ex-card01">
                    <h5>INR 1.00 = 0.2348 MXN</h5>
                </div>
                <div class="ex-card02">
                    <ul>
                    <li>You send from <b>India</b></li>
                    <li><h1>1000</h1></li>
                    </ul>
                    
                </div>
                <hr>
                <div class="ex-card03">
                    <ul>
                        <li>They receive in <b>Mexico</b></li>
                        <li><h1>234.38</h1></li>
                        </ul>
                </div>
                <hr>
                <div class="ex-card04">
                    <ul>
                        <li>Delivery to</li>
                        <li><p>Bank Account</p></li>
                    </ul>
                </div>
                <hr>
                <div class="ex-card05">
                    <ul>
                        <li>Pay with</li>
                        <li>
                            <div class="selector">
                            <select name="" id="cards">
                                <option value="Debit Card">Debit Card</option>
                                <option value="Credit Card">Credit Card</option>      
                              </select>
                            </div>
                        </li>
                        </ul>
                </div>
                <hr>
                <div class="ex-card06">
                    <ul>
                        <li>Should arrive<span>upto 4 hours</span></li>
                        <li>Fee<span>INR 0</span></li>
                        <li><b>Total to Pay<span>INR 1000</span></b></li>
                    </ul>
                </div>
                <div class="ex-card07">
                    <i class="fa fa-paper-plane-o" aria-hidden="true"></i><a>Get Started</a>
                </div>
            </div>
        </div>
    </div>
</div>

